body{
    background-color: #051a2d;
    color: white;
    text-align: center;
    font-family: cursive;
}

.main-text{
    margin-top: 150px;
    font-size: 200px;
    font-weight: bold;
    background-image: url(./bg.jpg);
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s infinite linear;
}

.secondary-text{
    font-size: 30px;
    color: aqua;
}

@keyframes animate{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 100% 100%;
    }
}